*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background:yellow;
    height: 500px;

}



.flex-item{
    width: 320px;
    background: red;
    margin:10px;}